* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}

/* Parte iniziale */

.container {
    max-width: 779px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.main-title {
    text-align: center;
    font-size: 22px;
    color: #e53170;
    padding: 30px;
}

 .main-paragraph, footer {
    text-align: center;
    font-size: 12px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Schede */

.card {
    float: left;
    width: calc(100% / 3 - 20px);
    background-color: black;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 3px 3px #88888848;
}

.image img {
    display: block;
}

img {
    max-width: 100%;
}

.image {
    width: 65px;
    float: left;
    display: block;
}

.info {
    color: white;
    float: left;
}

.info h4 {
    font-size: 13px;
    padding: 9px 5px 1px 10px;
}

.info p {
    font-size: 11px;
    padding: 1px 10px;
}

.info p:last-child {
    color: #69c5e6;
}

/* Paragrafo finale */

footer {
    width: 880px;
    margin: 0 auto;
    background-color: #222222e8;
    color: lightgray;
    padding: 18px 60px 50px 60px;
}
